.header__logo {
  width: 142px;
  height: 33px;
}

@media (max-width: 1023px) {
  .header__logo {
    margin: 0 0 0 27px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
