.card__delete-button {
  width: 18px;
  height: 19px;
  background: transparent center url("../../../images/delete-button.svg");
  background-size: auto;
  border: none;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
  display: none;
}

.popup__close:hover {
  opacity: 0.6;
}
