.form__link {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
}
