.form__title {
  margin: 0 0 50px;

  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  color: white;
}
